{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="parallax">

    <div class="box1">
        <h2>Association BlackLions Special Force</h2>
        <p>test visuel pour le parallax</p>
    </div>

    <div class="box2">
        <p>Plonge toi dans les profondeurs de l'espace</p>
        <div class="card-container">
            <div class="cards">
                <div class="card">
                    <figure class="figure">
                        <img src="{{asset('/img/airsoft-quoi.jpg')}}" alt="">
                    </figure>
                    <div class="content-box">
                        <p class="card-title">Event title</p>
                        <p class="card-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quaerat quae quos modi molestiae incidunt similique magni. Laudantium veritatis maxime.
                        </p>
                        <span class="see-more">See More</span>
                    </div>
                    <div class="date-box">
                        <span class="month">JULY</span>
                        <span class="date">21</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box3">
        <p>Imprègne toi de la tranquilité de l'espace</p>
    </div>

</div>

{% endblock %}
