<aside class="col-3 border border-light bg-white p-3">

    <article class="card mb-3">
        <div class="card-header">
            Events
        </div>
        <div class="card-body">
            <ul>
                <li><a href="{{path('admin_events_index')}}">liste des Events</a></li>
            </ul>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <ul>
                <li><a href="{{path('admin_users_index')}}">liste des Users</a></li>
            </ul>
        </div>
    </article>
</aside>