*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(21, 21, 21) !important;
    position: relative;

    main {

        h2{
        text-align: center;
        color: white;
        margin: 30px;
        }

        h4 {
            text-align: center;

            a{
                width: 30%;
            }
        }

        .container{

            margin-top: 80px;
        }

        .search {

            width: 50%;
            margin: auto;

            input {

                margin-bottom: 40px !important;
            }
        }

        .add-event {

            display: flex !important;
            justify-content: center !important;
            margin-top: 80px !important;

            form {

                div {

                    width: 100% !important;
                    color: white !important;
                    margin-bottom: 30px !important;
                }

                .button {

                    width: 100% !important;
                    margin: 30px !important;
                    text-align: center !important;
                }
            }
        }

        .add-media {

            display: flex !important;
            justify-content: center !important;
            margin-top: 150px !important;

            form {

                width: 45%;

                div {

                    width: 100% !important;
                    color: white !important;
                    margin-bottom: 30px !important;
                }

                .button {

                    width: 100% !important;
                    margin: 30px !important;
                    text-align: center !important;
                }
            }
        }

        .regis {

            display: flex !important;
            justify-content: center !important;
            margin-top: 80px !important;

            form {

                div {

                    width: 100% !important;
                    color: white !important;
                    margin-bottom: 30px !important;
                }

                .button {

                    width: 100% !important;
                    margin-top: 30px !important;
                    text-align: center !important;
                }
            }
        }

        .container_message {

            width: 50%;
            margin: auto;
            height: 50% !important;

            .card {

                width: 90%;
                margin: 20px auto;
                transition: 3s all ease-in-out;

                .button {
                    position: absolute;
                    right: 12px;
                    top: 60%;
                    visibility: hidden;
                    opacity: 0;
                }

                footer {

                    font-size: 20px !important;
                    height: 20px;
                }
            }

            .card:hover {

                transition: 3s all ease-in-out;

                .button{
                    visibility: visible;
                    opacity: 1;
                }
            }

            .formMessage {

                display: flex !important;
                justify-content: center !important;
                margin-top: 40px !important;
    
                form {
    
                    div {
    
                        width: 100% !important;
                        color: white !important;
                        margin-bottom: 30px !important;
                    }
    
                    .button {
    
                        width: 100% !important;
                        margin-top: 30px !important;
                        text-align: center !important;
                    }
                }
            }
        }

        .detail_event {

            .poster {

                display: flex;
                justify-content: center;

                figure {

                    width: 45%;
                    border-radius: 15px;

                    img {

                        width: 100%;

                    }
                }
            }

            .bloc {

                background-color: aliceblue;
                width: 45%;
                margin: auto;
                border-radius: 10px;
                margin-bottom: 30px;

                div {

                    display: flex;
                    justify-content: center;

                    h4 {
                        text-align: center;
                        width: 40%;
                        padding: 10px;
                    }

                    p {

                        text-align: center;
                        font-size: 1.5em;
                        width: 70%;
                        padding: 10px;
                    }
                }
            }
        }

        .card_event {

            .row {

                width: 90% !important;
                margin: auto !important;

                .col-sm-6 {

                    width: 32% !important;
                    margin: 50px 10px !important;

                    .card {

                        width: 80% !important;
                        background-color: black !important;
                        border: solid rgb(51, 49, 49) 2px !important;
                        padding: 10px !important;
                        margin: auto !important;

                        figure {

                            height: 300px !important;
                            border-radius: 15px !important;

                            img {

                                width: 100% !important;
                            }
                        }

                        .card-body {

                            .card-title {

                                text-align: center !important;
                                color: white !important;

                                .first {
                                    color: red;
                                }
                                .second {
                                    color: darkgreen;
                                }
                            }
                            .card-text {

                                text-align: center;
                                color: white !important;

                                .third {
                                    color: rgb(0, 153, 255);
                                }
                            }

                            a {
                                display: flex;
                                justify-content: center;
                                margin: auto;
                                width: 75%;
                            }
                        }

                        .option {
                            display: flex;
                            justify-content: center;

                            a {
                                width: 42%;
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }

        .login {

            figure {

                width: 20%;
                margin: auto;

                img {

                    width: 100%;
                    border-radius: 200px !important;
                }
            }

            .long {

                display: flex !important;
                justify-content: center !important;
                margin-top: 20px !important;

                .form {

                    width: 50%;

                    div {

                        margin-top: 20px !important;
                        width: 100% !important;
                        color: white !important;
                    }

                    .button {

                        width: 100% !important;
                        margin-top: 30px !important;
                        text-align: center !important;
                    }

                    .remember_me {

                        color: white !important;
                        font-size: 17px !important;
                    }
                }
            }
        }

        $max-img-width: 600px;
        $max-img-height: 400px;

        img {
            max-width: 100%;
            max-height: 80%;
            vertical-align: top;
            object-fit: contain;
        }

        .gallery {
            display: flex;
            margin: 10px auto;
            max-width: 600px !important;
            position: relative;
            padding-top: $max-img-height/$max-img-width * 100%;

            @media screen and (min-width: $max-img-width){
                padding-top: $max-img-height;
            }

            &__img {
                position: absolute;
                top: 0;
                left: 50%;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            &__thumb {
                padding-top: 6px;
                margin: 6px;
                display: block;

                img{
                    height: 80px;
                }
            }

            &__selector {
                position: absolute;
                opacity: 0;
                visibility: hidden;

                &:checked {
                    + .gallery__img {
                        opacity: 1;
                    }
                    ~ .gallery__thumb > img {
                        box-shadow: 0 0 0 3px #0be2f6;;
                    }
                }
            }
        }
    }

    header {
        height: 65px;

        figure {

            height: 50%;
            margin-top: 30px !important;

            img {
                width: 100%;
                border-radius: 200px !important;
            }
        }
    }

    footer {
        height: 250px;
    }

    }

