* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(21, 21, 21) !important;
  position: relative;
}
body main h2 {
  text-align: center;
  color: white;
  margin: 30px;
}
body main h4 {
  text-align: center;
}
body main h4 a {
  width: 30%;
}
body main .container {
  margin-top: 80px;
}
body main .search {
  width: 50%;
  margin: auto;
}
body main .search input {
  margin-bottom: 40px !important;
}
body main .add-event {
  display: flex !important;
  justify-content: center !important;
  margin-top: 80px !important;
}
body main .add-event form div {
  width: 100% !important;
  color: white !important;
  margin-bottom: 30px !important;
}
body main .add-event form .button {
  width: 100% !important;
  margin: 30px !important;
  text-align: center !important;
}
body main .add-media {
  display: flex !important;
  justify-content: center !important;
  margin-top: 150px !important;
}
body main .add-media form {
  width: 45%;
}
body main .add-media form div {
  width: 100% !important;
  color: white !important;
  margin-bottom: 30px !important;
}
body main .add-media form .button {
  width: 100% !important;
  margin: 30px !important;
  text-align: center !important;
}
body main .regis {
  display: flex !important;
  justify-content: center !important;
  margin-top: 80px !important;
}
body main .regis form div {
  width: 100% !important;
  color: white !important;
  margin-bottom: 30px !important;
}
body main .regis form .button {
  width: 100% !important;
  margin-top: 30px !important;
  text-align: center !important;
}
body main .container_message {
  width: 50%;
  margin: auto;
  height: 50% !important;
}
body main .container_message .card {
  width: 90%;
  margin: 20px auto;
  transition: 3s all ease-in-out;
}
body main .container_message .card .button {
  position: absolute;
  right: 12px;
  top: 60%;
  visibility: hidden;
  opacity: 0;
}
body main .container_message .card footer {
  font-size: 20px !important;
  height: 20px;
}
body main .container_message .card:hover {
  transition: 3s all ease-in-out;
}
body main .container_message .card:hover .button {
  visibility: visible;
  opacity: 1;
}
body main .container_message .formMessage {
  display: flex !important;
  justify-content: center !important;
  margin-top: 40px !important;
}
body main .container_message .formMessage form div {
  width: 100% !important;
  color: white !important;
  margin-bottom: 30px !important;
}
body main .container_message .formMessage form .button {
  width: 100% !important;
  margin-top: 30px !important;
  text-align: center !important;
}
body main .detail_event .poster {
  display: flex;
  justify-content: center;
}
body main .detail_event .poster figure {
  width: 45%;
  border-radius: 15px;
}
body main .detail_event .poster figure img {
  width: 100%;
}
body main .detail_event .bloc {
  background-color: aliceblue;
  width: 45%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}
body main .detail_event .bloc div {
  display: flex;
  justify-content: center;
}
body main .detail_event .bloc div h4 {
  text-align: center;
  width: 40%;
  padding: 10px;
}
body main .detail_event .bloc div p {
  text-align: center;
  font-size: 1.5em;
  width: 70%;
  padding: 10px;
}
body main .card_event .row {
  width: 90% !important;
  margin: auto !important;
}
body main .card_event .row .col-sm-6 {
  width: 32% !important;
  margin: 50px 10px !important;
}
body main .card_event .row .col-sm-6 .card {
  width: 80% !important;
  background-color: black !important;
  border: solid rgb(51, 49, 49) 2px !important;
  padding: 10px !important;
  margin: auto !important;
}
body main .card_event .row .col-sm-6 .card figure {
  height: 300px !important;
  border-radius: 15px !important;
}
body main .card_event .row .col-sm-6 .card figure img {
  width: 100% !important;
}
body main .card_event .row .col-sm-6 .card .card-body .card-title {
  text-align: center !important;
  color: white !important;
}
body main .card_event .row .col-sm-6 .card .card-body .card-title .first {
  color: red;
}
body main .card_event .row .col-sm-6 .card .card-body .card-title .second {
  color: darkgreen;
}
body main .card_event .row .col-sm-6 .card .card-body .card-text {
  text-align: center;
  color: white !important;
}
body main .card_event .row .col-sm-6 .card .card-body .card-text .third {
  color: rgb(0, 153, 255);
}
body main .card_event .row .col-sm-6 .card .card-body a {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
}
body main .card_event .row .col-sm-6 .card .option {
  display: flex;
  justify-content: center;
}
body main .card_event .row .col-sm-6 .card .option a {
  width: 42%;
  margin: 10px;
}
body main .login figure {
  width: 20%;
  margin: auto;
}
body main .login figure img {
  width: 100%;
  border-radius: 200px !important;
}
body main .login .long {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
}
body main .login .long .form {
  width: 50%;
}
body main .login .long .form div {
  margin-top: 20px !important;
  width: 100% !important;
  color: white !important;
}
body main .login .long .form .button {
  width: 100% !important;
  margin-top: 30px !important;
  text-align: center !important;
}
body main img {
  max-width: 100%;
  max-height: 80%;
  vertical-align: top;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px !important;
  position: relative;
  padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
  body main .gallery {
    padding-top: 400px;
  }
}
body main .gallery__img {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
}
body main .gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
body main .gallery__thumb img {
  height: 80px;
}
body main .gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
body main .gallery__selector:checked + .gallery__img {
  opacity: 1;
}
body main .gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}
body header {
  height: 65px;
}
body header figure {
  height: 50%;
  margin-top: 30px !important;
}
body header figure img {
  width: 100%;
  border-radius: 200px !important;
}
body footer {
  height: 250px;
}/*# sourceMappingURL=app.css.map */