<h1>Bonjour! Mail d'information</h1>

<p>
    Bonjour, si vous recevez ce mail, c'est pour vous prévenir que l'événement <strong>{{ event }}</strong> a été annulé. Nous nous excusons pour la gène occasionnée et voous souhaitons une bonne journée.
</p>

<p>
    Association BlackLions
</p>