{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col">
            <h2>Messagerie</h2>
            <p>Résumé de la messagerie</p>
            <p>Message recus :{{ app.user.received|length }}</p>
            <p>Message envoyés :</p>
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                Voir mes dossiers
            </a>
            <a href="#" class="btn btn-primary">Envoyer un message</a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <a href="{{ path('app_message')}}" class="list-group-item list-group-item-action active">Acceuil</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path('app_message')}}" class="list-group-item list-group-item-action">Boîte de reception</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path('app_message')}}" class="list-group-item list-group-item-action">Eléments envoyés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}