{% extends 'base.html.twig' %}

{% block title %}Personnalisation du compte{% endblock %}

{% block body %}

<h1 style="text-align: center; color:aliceblue;">Personnalisation de votre compte</h1>

<div class="container">
    <div class="card" style="width: 80%; background-color: black; border: solid rgb(51, 49, 49) 2px; padding: 10px; margin: auto;">
        <div class="card-body">
            <h5 class="card-text" style="text-align: center; color: white;">Modifier votre pseudo</h5><br>
            <a href="" class="btn btn-light" style="display: flex; justify-content: center;">Cliquez ici</a>
        </div>
    </div>
    <div class="card" style="width: 80%; background-color: black; border: solid rgb(51, 49, 49) 2px; padding: 10px; margin: auto;">
        <div class="card-body">
            <h5 class="card-text" style="text-align: center; color: white;">Modifier votre adresse mail</h5><br>
            <a href="" class="btn btn-light" style="display: flex; justify-content: center;">Cliquez ici</a>
        </div>
    </div>
    <div class="card" style="width: 80%; background-color: black; border: solid rgb(51, 49, 49) 2px; padding: 10px; margin: auto;">
        <div class="card-body">
            <h5 class="card-text" style="text-align: center; color: white;"></h5>Modifier votre mot de passe<br>
            <a href="" class="btn btn-light" style="display: flex; justify-content: center;">Cliquez ici</a>
        </div>
    </div>
</div>

{% endblock %}